src/META-INF/wsdl/docman.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:schema="http://miefirma.com.py/docman/schemas"
                  xmlns:tns="http://miefirma.com.py/docman/definitions"
                  targetNamespace="http://miefirma.com.py/docman/definitions">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://miefirma.com.py/docman/schemas"                      
                schemaLocation="docman.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetDocumentRequest">                                                 
        <wsdl:part element="schema:GetDocumentRequest" name="GetDocumentRequest"/>               
    </wsdl:message>
    <wsdl:message name="GetDocumentResponse">                                                 
        <wsdl:part element="schema:GetDocumentResponse" name="GetDocumentResponse"/>               
    </wsdl:message>
    <wsdl:message name="UploadDocumentRequest">                                                 
        <wsdl:part element="schema:UploadDocumentRequest" name="UploadDocumentRequest"/>               
    </wsdl:message>
    <wsdl:message name="UploadDocumentResponse">                                                 
        <wsdl:part element="schema:UploadDocumentResponse" name="UploadDocumentResponse"/>               
    </wsdl:message>
    <wsdl:portType name="Docman">                                                 
        <wsdl:operation name="GetDocument">
            <wsdl:input message="tns:GetDocumentRequest" name="GetDocumentRequest"/>         
            <wsdl:output message="tns:GetDocumentResponse" name="GetDocumentResponse"/>     
        </wsdl:operation>
        <wsdl:operation name="UploadDocument">
            <wsdl:input message="tns:UploadDocumentRequest" name="UploadDocumentRequest"/>       
            <wsdl:output message="tns:UploadDocumentResponse" name="UploadDocumentResponse"/>        
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DocmanBinding" type="tns:Docman">                  
        <soap:binding style="document"                                                   
            transport="http://schemas.xmlsoap.org/soap/http"/>                           
        <wsdl:operation name="GetDocument">
            <soap:operation soapAction="http://miefirma.com.py/docman/GetDocument"/>           
            <wsdl:input name="GetDocumentRequest">
                <soap:body use="literal"/>                                               
            </wsdl:input>
            <wsdl:output name="GetDocumentResponse">
                <soap:body use="literal"/>                                               
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UploadDocument">
            <soap:operation soapAction="http://miefirma.com.py/docman/UploadDocument"/>           
            <wsdl:input name="UploadDocumentRequest">
                <soap:body use="literal"/>                                               
            </wsdl:input>
            <wsdl:output name="UploadDocumentResponse">
                <soap:body use="literal"/>                                               
            </wsdl:output>
        </wsdl:operation>

    </wsdl:binding>
    <wsdl:service name="DocmanService">
        <wsdl:port binding="tns:DocmanBinding" name="DocmanPort">          
            <soap:address location="http://miefirma.com.py/docmanService/"/>             
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>